.recognition-view {
    background-color: #dae8f0;
    padding: 6px;
    border-radius: 10px;
    width: 329px;

    .filler {
        border-radius: 6px;
        background-color: white;
        border: 1px solid #bad1e0;
    }
}
