@import "less/lib/7g-colors.less";
@import "less/lib/mixins.less";

.recognition-view {
    background-color: @7g_border_color;
    padding: 6px;
    border-radius: 10px;
    width: 329px;
    float: left;
    margin: 10px;

    &.animate {
        .transition(all 1s ease-in-out);
    }

    .filler {
        border-radius: 6px;
        background-color: white;
        border: 1px solid #bad1e0;
    }
}
